# Database configuration
DB_HOST=a-postgresql.wezhike.ca
DB_PORT=5432
DB_NAME=fap
DB_USER=fap
DB_PASSWORD=I1LGyUvWOx

# Centralized storage directory (defaults to ./data_storage)
DATA_STORAGE_DIR=./data_storage

# Web Backend configuration
WEB_HOST=0.0.0.0
WEB_PORT=8000
WEB_MAP_PASSWORD=I1LGyUvWOx

# AI Service configuration
AI_HOST=0.0.0.0
AI_PORT=8001
